<%- include('../partials/header') %>

<h2>Profile page is working, show Page</h2>

<a href="/profiles/<%= user._id %>/sleeps/new" class="btn btn-primary">New Sleep Log</a>

<%- include('../partials/footer') %>