* {
  box-sizing: border-box;
  font-family:  Helvetica, sans-serif;
  font-weight: 100;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.684);
  color: white;
  
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  font-style: bold;
}

body {
  margin: 0;
  
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  background-color: #10113c;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}


body > main {
  background: linear-gradient(to top, #36abcb,  #10113c);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
}



body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}


button {
  background-color: #222A40;
  border-radius: 3%;
  
  border: 1px solid #ffffff;
  height: 30px;
  width: 120px;  
  font-weight: bold;
}

button a {
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
}

button:hover {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.752); 
  width: 120px; /* Increase the width on hover to maintain the 5-pixel extension */
  background-color: rgb(123, 192, 251);
}

table {
  font-size: 25px;
  background-color: ;
}

table thead th {
  padding: 5px;
  border-bottom: 1px solid #ffffff;
  
}

table td {
  
  text-align: center;
  
  
}

.panel {
  margin-top: 10px;
  padding: 10px;
  background-color: #222A40;
  border: solid #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sleep-log {
  height: 40px;
  width: 130px; 
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

#update-botton {
  height: 40px;
  width: 130px; 
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}


