<%- include('../partials/header') %>

<h2>Sleep Home Page</h2>
<a href="/dreams">User Dream Index Test</a>
<a href="/dreams/new">New Dream</a>
<a href="/sleeps/new">New Dream</a>


<%- include('../partials/footer') %>
