<%- include('../partials/header') %>

<h2>New Sleep Log</h2>

<form class="panel" action="/profiles/<%= user.profile._id  %>/sleeps" method="POST">
    
    <div>
      <span>Sleep quality:</span>
      <label for="poor">Poor</label>
      <input type="radio" name="sleepQuality" id="poor" value="poor">
  
      <label for="ok">OK</label>
      <input type="radio" name="sleepQuality" id="ok" value="ok">
  
      <label for="good">Good</label>
      <input type="radio" name="sleepQuality" id="good" value="good">
    </div>
    
    <div>
      <span>Dreamed:</span>
      <label for="dreamed-yes">Yes</label>
      <input type="radio" name="dreamed" id="dreamed-yes" value="true">
  
      <label for="dreamed-no">No</label>
      <input type="radio" name="dreamed" id="dreamed-no" value="false">
    </div>
  
    
    <label for="sleepStart">Sleep start:</label>
    <input type="datetime-local" name="sleepStart" id="sleepStart" required>
  
  
    <label for="sleepEnd">Sleep end:</label>
    <input type="datetime-local" name="sleepEnd" id="sleepEnd" required>
  
    <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>
