<%- include('../partials/header') %>

<h1>Create Dream Log</h1>

<form class="panel" action="/profiles/<%=profile._id %>/sleeps/<%= sleep._id %>/dreams" method="POST">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
  </div>
  <div>
    <label for="summary">Summary:</label>
    <textarea id="summary" name="summary" required></textarea>
  </div>
  <small>Enter comma-separated tags</small>
  <div>
    <label for="tags">Tags:</label>
    <input type="text" id="tags" name="tags" required>
  </div>
  
  <button id="update-botton" type="submit">Log Dream</button>
</form>

<%- include('../partials/footer') %>